body,
* {
  padding: 0;
  margin: 0;
  background-color: darkgrey;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
  grid-gap: 10px;
}

header {
  grid-column: 1 / -1;
  background-color: aqua;
}

.left {
  grid-row: span 2;
  /* grid-column: span 3; */
  grid-auto-columns: minmax(150px, auto);
  background-color: red;
  height: 300px;
}

.right {
  grid-row: span 2;
  /* grid-column: span 3; */
  grid-auto-columns: minmax(150px, auto);
  background-color: blue;
  height: 300px;
}

footer {
  grid-column: 1 / -1;
  background-color: aqua;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
